* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* overflow: hidden; */
}

header {
  /* border: 2px solid black; */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* z-index: 1; */
  box-shadow: 0px 1px 10px rgb(225, 221, 221);
  position: fixed;
  background-color: white;
  top: 0px;
}
.first_sec {
  width: 95%;
  /* border: 2px solid red; */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 50px;
  /* border: 5px solid black; */
  width: 6%;
  margin-right: 30px;
  cursor: pointer;
}
.menu {
  width: 36%;
  min-width: 500px;
}
.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(40, 44, 63);
  font-weight: 700;
  font-size: 14px;
  padding: 27px 0px;
}
.menu ul li a:hover {
  border-bottom: 4px solid red;
}
#sup {
  color: rgb(239, 86, 86);
}
.search {
  min-width: 35%;
  /* border: 2px solid green; */
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 246);
  padding: 10px;
  border-radius: 5px;
  color: rgb(141, 135, 135);
  font-size: 5px;
}
.action {
  height: 50px;
  width: 17%;
  /* border: 1px solid blue; */
  font-size: 50px;
  display: flex;
  /* font-size: 10px; */
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
}
.profile,
.wishlist,
.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#profile,
#wishlist,
#bag {
  font-size: 10px;
}
#ser {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(245, 245, 246);
  border: none;
  padding-left: 30px;
}
p {
  font-size: 50px;
}
sup {
  color: red;
}
.main {
  width: 98.9vw;
  height: 65vh;
  margin-top: 125px;
  /* margin-left: 10px; */
  cursor: pointer;
  object-fit: contain;
  /* position: absolute; */
  /* display: flex;
    flex-direction: row; */
}
.main a {
  display: flex;
  overflow: hidden;
}
.tittle {
  /* border: 2px solid blue; */
  font-weight: bold;
  color: rgb(62, 65, 82);
  font-size: 16px;
  padding: 60px 20px;
  font-family: anam;
}
.sectionTwo {
  /* border: 2px solid red; */
  height: 40vh;
  width: 98.9vw;
  display: flex;
}
.sectionTwo .one {
  height: 45vh;
  width: 19.5vw;
  margin-left: -8px;
}
#one {
  margin-left: 10px;
}
.tittle2 {
  /* border: 2px solid blue; */
  font-weight: bold;
  color: rgb(62, 65, 82);
  font-size: 16px;
  padding: 100px 20px;
}
.sectionthree {
  /* border: 2px solid red; */
  height: 40vh;
  width: 98.9vw;
  display: flex;
}
.sectionthree .one {
  height: 45vh;
  width: 19.5vw;
  margin-left: -8px;
}
.tittle3 {
  /* border: 2px solid blue; */
  font-weight: bold;
  color: rgb(62, 65, 82);
  font-size: 16px;
  padding: 100px 20px;
}
.last-section {
  height: auto;
  width: 98.9vw;
  /* border: 2px solid navy; */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding-left: -34px;
  padding-top: 5px;
  overflow: hidden;
  padding: 0px 15px;
}
.cate {
  height: 40vh;
  width: 12vw;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  /* margin-left: 15px; */
}
.lastthree {
  display: grid;
  grid-template-columns: auto auto auto;
  /* border: 5px solid red; */
  height: auto;
  width: 50vw;
  margin: 0px 24vw;
  padding: auto;
  /* position: absolute; */
  margin-bottom: 90px;
  margin-top: 20px;
}
footer {
  height: 500vh;
  width: 98.9vw;
  background-color: rgba(236, 236, 252, 0.726);
  padding-top: 250px;
}
.slide {
  background-color: rgb(83, 87, 102);
  color: white;
  display: inline-block;
  font-size: 12px;
  padding: 10px 70px;
  position: absolute;
  top: 60vh;
  right: 0px;
  rotate: 270deg;
  z-index: 1;
  position: fixed;
  translate: 131px;
  /* border: 10px solid green; */
  margin-right: 5px;
  text-transform: uppercase;
}
